
.registrationForm {
    background-color: aqua;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 20px;
    h1 {
        color: #fff;
        text-align: center;
    }

    section {
        margin-bottom: 10px;
    }
    .inputValue {
        width: 100%;
        height: 30px;

    }

    .createAccount {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        
        input {
            height: 50px;
            width: 100%;
        }
    }
 
}