.header {
    height: 10vh;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #fff;

    input {
        width: 20%;
        height: 30px;
        margin-right: 2px;
    }

    button {
        height: 30px;
        width: 5%;
        background-color:  #ff0099;
        border: none;
        color: #fff;
        margin-right: 2px;

    }
}