*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #343a40;
}


.mainContainer {
  .section {
    display: flex;
    .leftContainer {
      width: 40%;
      height: 80vh;
    }
    .rightContainer {
      width: 60%;
      height: 80vh;
    }
  }
}